services:
  - type: web
    name: ahedna-backend
    runtime: node
    region: frankfurt
    plan: free
    branch: main
    rootDir: .
    buildCommand: yarn install --frozen-lockfile && yarn build
    startCommand: yarn start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: "10000"
      - key: JWT_EXPIRES_IN
        value: 7d
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGINS
        sync: false
